@import "settings";
@import '~foundation-sites/scss/foundation';
@include foundation-everything;

/*
 * Menu styles
 */
ul[role="menu"] {
    @include menu-base;
    @include menu-direction('vertical');

    &.horizontal {
        @include menu-direction('horizontal');
    }

    li {
        &.menu-text{
            @include menu-text;
        }

        &[role="separator"] {
            padding-bottom: $global-padding;
        }

        a {
            &.active {
                @include menu-state-active;
            }
        }
    }
}

/*
 * Icon styles
 */
.mdi.warning:link, .mdi.warning:visited {
    color: get-color('alert');
}
.mdi.warning:hover, .mdi.warning:focus {
    color: lighten(get-color('alert'), 10%);
}
